body {  
  margin: 0;
  padding: 0;
  height: 100vh;
}


.header {
    
    height: 400px;
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.button-subtext {
    display: flex;
    
    flex-flow: column wrap;
    justify-content: center;
    margin-top: 20px;
    height: 250px;
}


h1 {
    font-weight: bold;
    font-size: 48px;
    align-self: flex-start;
    margin: 0;
    color: #f9faf8;
}

.subtext {
    color: hsl(0, 10%, 100%, .5);
    font-size: 18px;
}

.signupbutton {
    background-color: #3882f6;
    border-radius: 7px;
    align-self: center;
    color: #f9faf8;
    margin-right: auto;
    padding: 5px;
    width: 85px;
}

.imgspace {
    align-self: center;
    color: #f9faf8;
    background-color: grey;
    height: 200px;
    width: 400px;
    margin-right: 25px;
    text-align: center;
    line-height: 200px;
    flex-wrap: nowrap;
}

.headerlogo {
    color: #f9faf8;
    font-size: 24px;
    order: -1;
    align-self: flex-start;
    margin: 30px;
    line-height: 20px;
}

ul, li {
    display: flex;
    gap: 15px;
    list-style: none;
}

nav {
    align-self: flex-start;
    height: 80px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.flex-container-4boxes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 100px;
    gap: 40px;
}

.box1, .box2, .box3, .box4 {
    border-style: solid;
    border-color: #3882f6;
    border-radius: 10px;
    border-width: 2px;
    height: 115px;
    width: 120px;
}

.p-container {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    gap: 30px;
    align-content: center;
}

p {
    text-align: center;
    align-self: flex-start;
    
}
h2 {
    text-align: center;
    color: #1f2937;
    font-size: 30px;
}

.quote-container {
    background-color: #e5e7eb;
    display: flex;
    height: 250px;
    flex-direction: column;
    
}

blockquote {
    
    align-self: center;
    font-size: 30px;
    font-style: italic;
    color: #1f2937;
    font-weight: 300;
}

.author {
    align-self: center;
    margin-left: 70px;
}

.call-to-action-container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 700px;
    height: 400px;
    margin-left: 1000px;
    margin-right: 0;
    
}


.call-to-action {
    
    border-radius: 8px;
    background-color: #3882f6;
    align-self: center;
    width: 700px;
    height: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.call-to-action-text {
    align-self: center;
    color: #e5e7eb;
}
    

.sign-up-button-2 {
    width: 80px;
    border-color: #f9faf8;
    border-radius: 5px;
    color: #f9faf8;
    background-color: #3882f6;
    align-self: flex-end;
}

.h4-text {
    align-self: center;
    color: #e5e7eb;
}

footer {
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #1f2937;
    color: #f9faf8;
}
